<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    "app/assets/stylesheets/application.css", media: "all" %>
  <%= javascript_include_tag "app/assets/javascripts/application.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
